body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $base-color;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: none;
    color: unset;
    background-color: unset;
    border-color: unset;
  }
  
  h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2.2rem;
  }
  
  .btn {
    letter-spacing: 1px;
  }
  .input-form {
    width: 60%;
    margin: 3rem auto;
  }
  
  .errorMsg {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .login-error {
    font-size: 1.1rem;
  }
  
  .successMsg {
    color: $blue-color;
  }  